/* .section-video {
  background-color: #32323280;
  padding: 40px 24px;
}

.section-video > .video-category {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  background: #1db954;
  width: max-content;
  color: #fff;
}

.section-video > .video-category svg {
  font-size: 24px;
}

.section-video > .video-category > h3 {
  font-size: 24px;
  margin-right: 24px;
  font-weight: 600;
} */
.video-list {
  margin: 0 -6px;
}

.video-list-category {
}

.video-list-content {
  display: flex;
  flex-wrap: wrap;
}

.video-list-item {
  list-style: none;
  padding: 8px 6px;
}

.video-list-item video {
  width: 100%;
  max-height: 650px;
}

.video-list-link {
  padding: 10px;
}

.video-list-link a {
  color: white;
}

/* category */

.video-list-category {
  position: relative;
  margin: 40px 6px 22px;
}

.video-list-category > svg {
  position: absolute;
  color: #fff;
  font-size: 24px;
  top: 50%;
  left: 16px;
  z-index: 2;
  transform: translateY(-50%);
}

.video-list-select {
  border-radius: 8px !important;
  display: flex !important;
  background: #1db954;
  width: 215px;
  height: 62px;
  color: #fff !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  padding: 16px;
  font-family: 'Quicksand' !important;
}

.video-list-select > :first-child {
  margin-left: 16px;
}

.video-list-select > svg {
  font-size: 24px;
  color: #fff;
  right: 16px;
}

ul#\:r0\: > li {
  font-size: 16px;
  font-weight: 600;
}
