.my-video {
    background-color: #32323280;
    padding: 40px 24px;
  }
  
  .my-video-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
  }
  
  .my-video-item {
    list-style: none;
    padding: 8px 6px;
  }
  
  .my-video-item video {
    width: 100%;
    max-height: 650px;
  }
  
  .my-video-item a {
    display: inline-block;
    padding: 10px;
  }
  